html {
  scroll-behavior: smooth;
  font-family: Roboto, Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
